:root {
  --sb-track-color: var(--color-secondary);
  --sb-thumb-color: var(--color-secondary-foreground);
  --sb-size: 8px;
}

/* Electron 특수 설정 */
a,
button {
  -webkit-app-region: no-drag;
}

/* Transition styles for fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
